.featured-books,
.New-books,
.book-details {
  margin: 50px 0;
}
.featured-books .container,
.New-books .container {
  display: flex;
  flex-direction: column;
  direction: rtl;
}
.featured-books-title,
.new-books-title {
  color: black;
  font-size: 35px;
  font-family: AvenirNext-Bold;
  font-weight: bold;
  background-color: rgba(200, 59, 27, 0.49);
  width: 285px;
  height: 57px;
  padding: 18px;
  text-align: center;
}
.books-grid {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 45px 0;
}
.books-grid li {
  margin: 12px 3px;
}
.books-grid img {
  width: 300px;
}
.price {
  font-size: 30px;
  padding-bottom: 12px;
  font-family: AvenirNext-Bold;
  color: black;
}
