.shopping {
  margin: 20px 80px;
  font-size: 2em;
  font-family: AvenirNext-Bold;
}

.total-order {
  display: flex;
  background-color: #f9f6f6;
  margin: 60px 40px;
  margin-bottom: 300px;
  font-size: 1.2em;
  font-weight: bold;
  flex-direction: row;
  justify-content: space-around;
}
.total-price {
  padding: 30px;
  margin: 30px;
}
.last-price,
.last-qty {
  font-family: AvenirNext-Bold;
  padding: 10px;
}

.proceed-to-checkout {
  background-color: transparent;
  border: 3px solid #0d541c;
  border-radius: 8%;
  font-size: 1.7em;
  font-weight: bold;
  color: #0d541c;
  margin: 80px;
  padding: 15px;
  font-family: AvenirNext-Bold;
}
.proceed-to-checkout:hover {
  color: yellowgreen;
}
