.cart-title h2 {
  font-size: 2em;
  font-family: AvenirNext-Bold;
  margin: 25px 30px;
}
.book-checkout {
  background-color: #f9f6f6;
  border: 3px solid black;
  font-family: AvenirNext-DemiBold;
  font-size: 1.2em;
  align-items: center;
}
.book-review {
  display: flex;
  width: 90%;
  border-bottom: 3px solid #b12121;
  padding: 30px;
  margin: 30px;
}
.book-checkout img {
  width: 260px;
  border: 2px solid black;
}
.book-desc h2 {
  font-family: AvenirNext-Bold;
  padding: 40px;
  margin: 50px;
  font-size: 1.5em;
}
.cart-btns {
  margin: 15px;
  display: flex;
  justify-content: center;
}
.cart-btns button {
  font-size: 1.7em;
  background-color: transparent;
  border: none;
  padding: 15px 120px;
  font-weight: bold;
}
.cart-btns a .back-btn {
  width: max-content;
}
.cart-btns .back-btn:hover {
  color: green;
}
.cart-btns .delete-btn {
  border-right: 3px solid #e7d747;
}
.cart-btns .delete-btn:hover {
  color: red;
}
.total-order {
  display: flex;
  background-color: #f9f6f6;
  justify-content: space-around;
  margin: 40px 0;
  font-size: 1.4em;
  font-weight: bold;
  align-items: center;
}
.total-price h2 {
  font-size: 1.2em;
  font-family: AvenirNext-Bold;
  padding: 20px;
  margin: 20px 0;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.total-order button {
  background-color: transparent;
  border: 3px solid #0d541c;
  border-radius: 8%;
  font-size: 1.5em;
  font-weight: bold;
  color: #0d541c;
  margin: 80px;
  padding: 20px;
  font-family: AvenirNext-Bold;
}
.total-order button:hover {
  color: yellowgreen;
}
