.detail .book-details {
  display: flex;
  margin: 30px;
  font-family: AvenirNext-DemiBold;
}

.main-photo {
  width: 300px;
  border: #b12121 2px solid;
}
.book-preview p {
  font-family: AvenirNext-DemiBold;
  text-align: center;
  font-size: 1.5em;
  margin-top: 0;
  font-weight: bold;
}

.book-overview {
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.book-title,
.book-price {
  font-family: AvenirNext-Bold;
  font-weight: bolder;
  margin: 10px;
}
.book-description,
.book-Author,
.book-PubYear,
.book-Pages {
  font-family: AvenirNext-Regular;
  font-weight: bold;
  font-size: 1.5em;
  padding: 0;
  margin: 10px;
  text-align: justify;
}
.book-overview h2 span {
  margin-left: 40px;
}

.book-overview h2 span img {
  margin-left: 10px;
}
.other-options {
  font-family: AvenirNext-Bold;
  height: 128px;
  padding: 10px;
  display: flex;
  font-size: 3em;
  align-items: center;
  justify-content: center;
  background-color: #b1212177;
  color: black;
}
