.detail .container {
  display: flex;
  margin-top: 45px;
}
.main-photo {
  width: 300px;
  border: #b12121 2px solid;
}
.book-preview p {
  font-family: AvenirNext-DemiBold;
  text-align: center;
  font-size: 1.5em;
  padding: 15px 0;
}
.book-detail {
  margin-left: 40px;
}
.book-overview {
  font-family: AvenirNext-Bold;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.book-overview h2 {
  font-family: AvenirNext-Bold;
  font-weight: bolder;
  margin-left: 0;
  padding: 20px 0;
}
.book-overview h2 span {
  margin-left: 40px;
}
.book-overview h2 span i {
  margin-left: 10px;
}
.book-description p {
  font-size: 1.5em;
  line-height: 39px;
  color: #000000;
  font-family: AvenirNext-DemiBold;
  text-align: justify;
  margin-bottom: 30px;
  padding: 10px 20px;
}
.book-description .showMore {
  font-family: AvenirNext-DemiBold;
  font-size: 23px;
  color: green;
  border: none;
  background: #ebf8d6;
  padding: 2px 12px;
  margin: 0px 10px;
}

.book-info {
  font-size: 1.2em;
  line-height: 20px;
  color: #000000;
  font-family: AvenirNext-DemiBold;
  margin-bottom: 15px;
}
#book-Author,
#book-PubYear,
#book-Pages {
  font-size: 1.2em;
  padding: 20px;
}
.other-options {
  background-color: #b1212177;
  height: 128px;
  max-width: 90%;
  margin: 50px auto;
}
.other-options h3 {
  font-family: AvenirNext-Bold;
  padding: 35px 0;
  font-size: 3em;
  text-align: center;
  margin: 50px 140px;
}
