.section-footer .container {
  background-color: rgba(231, 215, 71, 0.67);
}
.section-desc {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  line-height: 30px;
}
.contact-info {
  margin: 0 0 12px 40px;
}
.contact-info h3 {
  color: #c83b1b;
  font-family: AvenirNext-DemiBold;
  font-size: 24px;
}
.contact-info h4 {
  font-family: AvenirNext-DemiBold;
  font-size: 20px;
}
.fa-truck {
  font-size: 24px;
  padding-right: 12px;
  padding-top: 12px;
  color: #0099cc;
}
.delivery h3 {
  font-family: AvenirNext-DemiBold;
  font-size: 20px;
}
.payment-methods {
  margin: 20px 85px 0 0;
}
.payment-methods h3 {
  font-family: AvenirNext-DemiBold;
  font-size: 20px;
  float: left;
}
.fa-cc-visa,
.fa-cc-mastercard,
.fa-cc-paypal {
  font-size: 39px;
  padding: 15px 0px 0 12px;
  display: inline;
}
/*Media Query*/
@media only screen and (max-width: 768px) {
  .contact-info {
    margin: auto;
  }
  .section-desc {
    margin: 10px 0 12px 20px;
    display: inline-block;
    line-height: 20px;
  }
  .contact-info h4,
  .contact-info h3,
  .delivery h3,
  .payment-methods h3 {
    font-size: 12px;
  }
  .fa-truck {
    font-size: 16px;
  }
  .payment-methods {
    margin: 6px auto;
  }
  .fa-cc-visa,
  .fa-cc-mastercard,
  .fa-cc-paypal {
    font-size: 18px;
    padding: 6px;
  }
}
