footer img{
    margin: 0px 4px;
}
.background-footer{
    background: rgba(231, 215, 71, 0.67);
    margin-top: 20em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
}

p.content-card2 {
    grid-row: 2;
}
p.content-text-card2 {
    grid-row: 2;
}
p.content-methods-card {
    grid-column-start: auto;
    text-align: center
}
span.card-paymnt {
    display: flex;
    justify-content: center;
    padding: 0 5px;
}
.container-footer, img {
    font-weight: 600;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    cursor: pointer;
}
img:hover{
    transform: scale(1.05);
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px
}

