.group-header-items,
.icon,
.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar-burger {
  display: none;
}
.group-header-items {
  margin: 12px 0;
}
.web-title {
  text-align: center;
  margin: 29px 0;
  font-size: 49px;
  font-family: AvenirNext-Bold;
}
.web-title a {
  color: #c83b1b;
}
.group-header-items {
  font-size: 25px;
  font-family: AvenirNext-Medium;
  color: #000000;
}
.icon {
  font-weight: bold;
}
.icon a {
  padding: 12px;
  color: hsl(0, 0%, 0%);
  width: max-content;
}
.navbar-menu {
  padding: 0 200px 0 20px;
}
.navbar-menu li {
  padding-right: 39px;
}
.navebar-item {
  color: #000000;
}
.active {
  color: #e7d747;
  font-weight: bold;
}

.fa-shopping-cart {
  color: #0099cc;
  font-size: 32px;
}
.cart-icon span {
  padding: 0px 3px;
  float: right;
  background: turquoise;
  color: black;
  border-radius: 8px;
}
/*Media Query*/
@media only screen and (max-width: 767px) {
  .web-title {
    font-size: 30px;
  }
  .icon {
    flex-grow: 1;
    justify-content: normal;
  }
  .icon a {
    padding: 8px;
    font-size: 14px;
  }
  .navbar-menu {
    display: none;
  }
  .fa-shopping-cart {
    font-size: 25px;
  }
  .cart-icon span {
    font-size: 18px;
  }
  .group-header-items .navbar-burger {
    display: block;
    padding: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .group-header-items .navbar-burger .nav-icon {
    width: 20px;
    height: 2px;
    background-color: #1d1c1c;
    color: #1d1c1c;
    display: block;
    position: relative;
    transition: ease-out 0.5s;
  }
  .group-header-items .navbar-burger .nav-icon::before,
  .group-header-items .navbar-burger .nav-icon::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background-color: currentColor;
    transition: all ease-out 0.5s;
  }
  .group-header-items .navbar-burger .nav-icon::before {
    top: -5px;
  }
  .group-header-items .navbar-burger .nav-icon::after {
    top: 5px;
  }
  .group-header-items.is-active .navbar-burger .nav-icon {
    background-color: transparent;
  }
  .group-header-items.is-active .navbar-burger .nav-icon::before {
    background-color: rgb(200, 86, 66);
    transform: rotate(45deg);
    top: 0;
  }
  .group-header-items.is-active .navbar-burger .nav-icon::after {
    background-color: rgb(200, 86, 66);
    transform: rotate(-45deg);
    top: 0;
  }
  .group-header-items.is-active .navbar-menu {
    display: flex;
    flex-direction: column;
    border: 1px solid #f2edc1;
    background-color: #f2edc1;
    position: absolute;
    top: 120px;
    left: 38px;
    cursor: pointer;
  }
  .group-header-items.is-active .navbar-menu li {
    padding: 16px 20px;
    font-size: 16px;
  }
}
