/*Font*/

@font-face {
  font-family: "AvenirNext-Bold";
  src: url("../fonts/AvenirNext-Bold.woff2") format("woff2"),
    url("../fonts/AvenirNext-Bold.woff") format("woff");
}
@font-face {
  font-family: "AvenirNext-DemiBold";
  src: url("../fonts/AvenirNext-DemiBold.woff2") format("woff2"),
    url("../fonts/AvenirNext-DemiBold.woff") format("woff");
}
@font-face {
  font-family: "AvenirNext-Medium";
  src: url("../fonts/AvenirNext-Medium.woff2") format("woff2"),
    url("../fonts/AvenirNext-Medium.woff") format("woff");
}
@font-face {
  font-family: "AvenirNext-Regular";
  src: url("../fonts/AvenirNext-Regular.woff2") format("woff2"),
    url("../fonts/AvenirNext-Regular.woff") format("woff");
}
/**/
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
}
ul,
li {
  list-style-type: none;
  text-transform: capitalize;
  cursor: pointer;
}
p,
h1,
h2,
h3 {
  text-transform: capitalize;
}
.container {
  max-width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
