.searchBook-img-bacground {
  border: 1px solid white;
  height: 550px;
  background-image: url("../img/search-image.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.searchBook-img-bacground p,
.searchBook-img-bacground h3,
.search-bar {
  line-height: 130px;
}
.searchBook-img-bacground p {
  color: #fffcfc;
  text-align: center;
  font-size: 64px;
  font-family: AvenirNext-Bold;
  padding: 130px 0 0;
}
.searchBook-img-bacground h3 {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #fffcfc;
}
.search-bar {
  text-align: center;
}
#search-book {
  font-size: 30px;
  text-align: center;
  color: rgba(0, 0, 0, 1.07);
  border: 3px solid #000000;
  padding: 12px 139px;
}
#search-btn {
  background: #c83b1b;
  border: 3px solid #fffbfb;
  font-size: 30px;
  text-align: center;
  padding: 12px 30px;
}
/*----------------------------------------------*/
/*                    Responsive                */
/*       كل ما هو متعلق بالهواتف والتابلت    */
/*---------------------------------------------*/

@media (min-width: 768px) and (max-width: 1024px) {
  .searchBook-img-bacground p,
  .searchBook-img-bacground h3,
  .search-bar {
    line-height: 100px;
  }
  .searchBook-img-bacground p {
    padding: 50px 0 0 0;
  }
}
@media (max-width: 768px) {
  .searchBook-img-bacground {
    height: 350px;
  }
  .searchBook-img-bacground p {
    font-size: 29px;
    padding: 11px 0 0;
  }
  .searchBook-img-bacground h3 {
    font-size: 29px;
  }
  .searchBook-img-bacground p,
  .searchBook-img-bacground h3,
  .search-bar {
    line-height: 50px;
  }
  #search-book {
    font-size: 20px;
    border: 2px solid #000000;
    width: fit-content;
    margin-bottom: 10px;
    padding: 12px 12px;
  }
  #search-btn {
    border: 2px solid #fffbfb;
    font-size: 27px;
    padding: 5px 22px;
  }
}
@media (min-width: 470px) and(max-width:768px) {
  .searchBook-img-bacground p,
  .searchBook-img-bacground h3,
  .search-bar {
    line-height: 81px;
  }
}
