a {
  text-decoration: none;
}

.signin-signup {
  justify-content: center;
}
form.form-signin-signup input {
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #ccc;
  background: rgba(196, 196, 196, 0.15);
  margin: 6px;
}
.email-active {
  width: 100%;
  box-sizing: border-box;
}
.password-active {
  width: 100%;
  box-sizing: border-box;
}
section.searchWrapper-signup {
  margin: 40px;
}
.card-hero-signup input {
  background: rgba(231, 215, 71, 0.71);
  border-radius: inherit;
  margin-bottom: 15px;
  margin-left: 15px;
}
form.form-signin-signup {
  font-style: normal;
  font-size: 50px;
}

h1.Title-hero-ShareBook-signup {
  padding: 7px;
}
header.navbar-header {
  margin: 40px;
}

.signin-signup input {
  margin-left: 11px;
  width: 32em;
  padding: 7px;
  height: 3em;
  border: 1px solid #000000;
}
input.email-active- {
  width: 66em;
}
a.Reader-Saler {
  margin-left: 12px;
  padding: 8px 33px;
  background: rgba(231, 215, 71, 0.71);
  color: black;
}
.class-Reader-Saler {
  margin-bottom: 19px;
  margin-top: 38px;
}
.Signup-link a {
  padding: 3px 103px;
  margin-left: 5em;
  color: black;
  font-family: Averia Serif Libre;
}
p.text-signin-signup {
  margin: 14px 14px;
}
.Signup-link {
  margin-top: 37px;
}
