.detail .container {
  display: flex;
}

.main-photo {
  width:300px;
  border: #b12121 2px solid;
}
.book-preview p{
  font-family: AvenirNext-DemiBold;
  text-align: center;
  font-size: 1.5em;
}

.book-overview {
  margin: 0 40px ;
  font-family: AvenirNext-DemiBold;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
}

.book-overview h2{
  font-family: AvenirNext-Bold;
  font-weight: bolder;
}

.book-overview h2 span{
  margin-left: 40px;
}

.book-overview h2 span img{
  margin-left: 10px;
}
.other-options {
  font-family: AvenirNext-Bold;
  height: 128px;
  padding: 10px;
  display: flex;
  font-size: 3em;
  align-items: center;
  justify-content: center;
  background-color: #b1212177;
}

